
html {
scroll-behavior: smooth;
}

:root {
--ff-primary: 'Source Sans Pro', sans-serif;
--fw-bold: 600;
--clr-dark: #303030;
--clr-accent: #16e0bd;
--fs-h2: 1.25rem;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: #111111;
color: var(--clr-dark);
margin: 0;
font-family: var(--ff-primary);
font-size: var(--fs-body);
line-height: 1.6;
}

p {
margin-top: 250px;
color: #fff;
text-align: center;
}


header {
top: 0;
position: fixed;
width: 100%;
}

.nav__list {
list-style: none;
display: flex;
height: 100%;
justify-content: space-evenly;
margin: 0;
padding: 8px;
background-color: rgb(240, 240, 20);
}

.nav__link {
color: inherit;
font-weight: var(--fw-bold);
font-size: var(--fs-h2);
text-decoration: none;
}

.nav__link:hover {
color: var(--clr-accent);
}

.nav-toggle {
position: absolute;
}

label {
position: relative;
margin-right: -410px;
}

.nav__item {
color: #111;
}


.text {
font-size: 35px;
color: #fff;
text-align: center;
line-height: 2em;
}
